language: scala
scala:
    - "2.12.2"

jdk:
    - oraclejdk8

branches:
  only:
    - master
    - dev

before_install:
  - git clone http://github.com/pdolega/quartercask ~/builds/quartercask
  - pushd ~/builds/quartercask
  - sbt compile publishLocal
  - popd
  - rm -rf ~/builds/quartercask

# Use container-based infrastructure
sudo: false

# These directories are cached to S3 at the end of the build
cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt

before_cache:
  # Cleanup the cached directories to avoid unnecessary cache updates
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
  - find $HOME/.sbt        -name "*.lock"               -print -delete